[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "/Users/shinya/dotfiles/.vim/bundle/vundle.git"]
    path = /Users/shinya/dotfiles/.vim/bundle/vundle.git
    url = http:github.com/gmarik/vundle.git
